.cabecalho {
    display: flex; /*coloca os componentes um do lado do outro, o padrão do flex é em linha*/
    justify-content: center;
    align-items: center;
    gap: 5px; /*espaçamento entre os componentes*/
    background-color: #e2c0ba;
    border-bottom: 1px solid #7c4e39;
    padding: 10px;
}

.cabecalho .titulo {
    color: #8e5d59;
    text-align: center;
    font-family: "Rochester", cursive;
    font-size: 50px;
    font-weight: 595;
    margin: 0;
    padding: 5px;
}

.logo {
    width: 80px;
    height: 60px;
}
