<app-cabecalho></app-cabecalho>

@if (carregando) {
    <div>Carregando...</div>
}

@if (idInvalido || erro) {
    <!-- <div>ID inválido, utilize apenas números</div> -->
    <app-container>
        <div class="infos">
            <span class="aviso">ID inválido ou inexistente!</span>
        </div>
        <div class="infos">
            <button [routerLink]="['/users']" class="btnInicial">Voltar a lista de Contatos</button>
        </div>
        
    </app-container>
    
} @else {
    <app-container>
        <div class="header">
            <h1> {{ usuario.name }} </h1>
            </div>
        <div>
            <p><strong>Nome:</strong> {{ usuario.name }} </p>
            <p><strong>Email:</strong> {{ usuario.email }} </p>
            <p><strong>Telefone:</strong> {{ usuario.phone }} </p>
            <p><strong>Website:</strong> {{ usuario.website }} </p>
            <p><strong>Cidade:</strong> {{ usuario.address.city }} </p>
            <p><strong>Empresa:</strong> {{ usuario.company.name }} </p>
        </div>
    </app-container>
}